# Puerto del microservicio
PORT=4000

# Conexión a Base de Datos (Supabase PostgreSQL / Postgres Local)
# Opción 1: Cadena de conexión directa o Pooler de Supabase
DATABASE_URL=postgresql://postgres.your-project-ref:your-password@aws-0-us-east-1.pooler.supabase.com:5432/postgres

# Opción 2: Parámetros discretos (alternativa si no se define DATABASE_URL)
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_USERNAME=postgres.your-project-ref
DB_PASSWORD=your-password
DB_NAME=postgres
DB_SSL=true
DB_SYNCHRONIZE=true

# URL de comunicación con Fake Provider
PROVIDER_URL=http://localhost:5000

# URL de retorno para Webhooks despachados desde Fake Provider
WEBHOOK_CALLBACK_URL=http://localhost:4000/api/webhooks/refund
